.view_body {
    height: 100vh;
    background: #add8e6 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-button {
    background-color: #007bff;
}

.card {
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);

}

.card-body {
    padding: 2rem;
}
.title {
    margin-bottom: 2rem;
    font-size: 28px;
    font-weight: 500;
    color:rgb(109, 35, 179);
}

.smalltitle {
    font-size: 20px;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    color:rgb(109, 35, 179);
}
.section-header {

    font-size: 18px;
    font-weight: 500;
    align-self: center;
}
.address-section  {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.address-item  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section  {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact-item  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline {
    height: 1px;
    width: 100%;
    background-color: black;
    margin-bottom: 15px;
}
