<div style="width: 500px;">
    <form #changePassForm="ngForm" (ngSubmit)="onSubmit(changePassForm)">
        <div class="form-input">
            <span><i class="fa fa-key" style="color: rgb(109, 35, 179);"></i></span>
            <input type="password" name="oldPass" ngModel class="form-control" placeholder="Old Password" tabindex="10" required />
        </div>
        <div class="form-input">
            <span><i class="fa fa-key" style="color:rgb(109, 35, 179);"></i></span>
            <input type="password" name="newPass" ngModel class="form-control" placeholder="New Password" tabindex="10" required />
        </div>
        <div class="mb-3">
            <button mat-dialog-close mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>
