<div style="width: 500px;">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="form-input">
            <span><i class="fa fa-envelope-o" style="color: rgb(109, 35, 179);"></i></span>
            <input type="email" placeholder="Email" email name="email" ngModel required #email="ngModel">
        </div>

        <div class="mb-3">
            <button mat-dialog-close mat-raised-button color="primary" type="submit">Send Password</button>
        </div>
    </form>
</div>
